body {
    font-family: 'Courier New', Courier, monospace; /* Typewriter-Schrift */
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Weißer Hintergrund */
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Elemente untereinander anordnen */
}

h1 {
    color: #388e3c; /* Grüne Farbe */
    font-size: 4rem;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #000;
    padding: 10px;
    background-color: white; /* Heller Footer-Hintergrund */
}

.navbar {
    width: 100%;
    background-color: white; /* Heller Footer-Hintergrund */
}

img {
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1); /* Bild um 10% vergrößern */
}

#cover-image {
    width: 80%; /* Passt die Breite an den Container an */
    max-width: 800px; /* Größte Breite */
    height: auto; /* Beibehaltung des Seitenverhältnisses */
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.hidden {
    display: none;
}

#modal-video-container {
    background: #000; /* Schwarzer Hintergrund für das Video */
    padding: 10px;
    border-radius: 8px;
}

.blurred {
    filter: blur(5px);
}

#seek-bar-container {
    width: 100%; /* Passt die Breite des Containers an */
    max-width: 800px; /* Gleiche maximale Breite wie das Cover-Bild */
    margin: 0 auto; /* Zentriert den Container */
    display: flex; /* Benötigt flex, um die Seek-Bar gut auszurichten */
    justify-content: center; /* Zentriert den Inhalt (Seek-Bar) horizontal */
}

#seek-bar {
    -webkit-appearance: none;
    -moz-appearance: none;  /* für Firefox */
    appearance: none;       /* Standard-Eigenschaft */
    width: 100%;
    height: 20px;
    border-radius: 10px;
    outline: none;
    transition: 0.3s;
}

#seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; /* Für bessere Kompatibilität */
    width: 15px;
    height: 15px;
    background: #28a745;
    border-radius: 50%;
    cursor: pointer;
}

#seek-bar::-moz-range-thumb {
    appearance: none; /* Für Firefox */
    width: 30px;
    height: 30px;
    background: #28a745;
    border-radius: 50%;
    cursor: pointer;
}
.subtitle {
    margin-top: 20px; /* oder ein anderer Wert, der dir gefällt */
    font-size: 1.2em;
}
