body {
    font-family: 'Courier New', Courier, monospace; /* Typewriter-Schrift */
    margin: 0;
    padding: 0;
    background-color: #fff; /* Weißer Hintergrund */
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #388e3c; /* Grüne Farbe */
    font-size: 4rem;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #000;
    padding: 10px;
    background-color: #f8f9fa; /* Heller Footer-Hintergrund */
}

.navbar {
    width: 100%;
}